@import 'ShareStyle/Share'; 
.task {
  margin-top: 8px;
  font-family: Roboto-Medium;
  font-size: 24px;
  color: #000000;
  @include cus-chkbox;
  .common-section {
    width:100%;
    padding-top:20px;
    padding-left:20px;
    span{
      margin-left:20px;
    }
  }
  .task-right-icons {
    float:right;
    i {
      margin-right:10px;
    }
  }
  .undone-task {
    height: 102px;
    width: 620px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // flex-flow: row wrap;
    // align-content: flex-end;
    .width-100 {
      width: 100%;
    }
    .status-section{
      margin-left:50px; 
      font-size:14pt;
      i { 
        margin-left:10px; 
      }
      span {
        margin-left:10px;
      }
    }
  }
  .done-task {
    width: 620px;
    height: 76px;
    background: #f2f2f2;
    span {
      text-decoration: line-through;
      color: #9b9b9b;
    }
  }
}
