@mixin searchBox {
    .searchBox{
        ::placeholder {
            color: rgba(255,255,255,0.50);
            opacity: 1;
        }
        i {
            position: absolute;
            left:20px;
            top:8px;
            color: #FFFFFF;
        }
        input{
            background: #7828B4;
            padding-left:40px;
            font-size:18px;
            width:280px;
            border:none;
            border-bottom:1px solid #FFFFFF;
            &:focus {
            outline: none;
          }
      }
    }
}
.header{
    height:92px;
    background:#7828B4;
    h1{
        font-family: Optima-ExtraBlack;
        color:#FFF;
    }
    .content {
        height:92px;
    }
    @include searchBox;
}