@mixin tag {
    display: inline-block;
    border:1px solid #9013FE ;
    border-radius:25px;
    padding: 0.3rem 1rem;
    font-size: 0.75rem;
  }
  @mixin breadcrumbs {
      .breadcrumbs{
          height:48px;
          background: #EBEBEB;
          border-radius: 4px;
          display:flex;
          align-items: center;
          span{
              padding-left:10px;
              &:first-child {
                  color:#9013FE;
              }
          }
      }
  }
  @mixin content{
      .content {
          margin-top:24px;
          display:flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          img {
            // 644x352
            width:644px;
            height:352px;
          }
          .detail{
              width:644px;
              height:600px;
              position: relative;
              .local {
                  width:640px;
                  div {
                      @include tag;
                      margin-left:10px;
                  }
                  span ~ span {
                      margin-left:10px;
                      margin-right:10px;
                  }
              }
              .describe {
                  margin-top:10px;
              }
          }
  
      }
  }
  .right-content {
     padding-top:20px;
     @include breadcrumbs;
     @include content;
  }