body{
    background:#F2F2F2
}
//--------------------
@mixin searchBox {
    .searchBox{
        ::placeholder {
            color: rgba(255,255,255,0.50);
            opacity: 1;
        }
        i {
            position: absolute;
            left:20px;
            top:8px;
            color: #FFFFFF;
        }
        input{
            background: #7828B4;
            padding-left:40px;
            font-size:18px;
            width:280px;
            border:none;
            border-bottom:1px solid #FFFFFF;
            &:focus {
            outline: none;
          }
      }
    }
}
.header{
    height:92px;
    background:#7828B4;
    h1{
        font-family: Optima-ExtraBlack;
        color:#FFF;
    }
    @include searchBox;
}
//--------------------
@mixin alignContent {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width:300px;
    padding-left:30px;
    background: #EBEBEB;
    border-bottom:2px solid #f3f3f3;
}
@mixin location {
    .location {
        @include alignContent;
        height:127px;
        select {
            width:220px;
            height:40px;
            font-family: Roboto-Regular;
        }
    }
}
@mixin dateBlock {
    .date-block{
        @include alignContent;
        height:187px;
        input {
            width:169px;
        }
        label{
            display: inline-block;
            width:50px;
            text-align:right;
            padding-right:10px;
        }
    }
}

@mixin cusChkbox{
    .cusChk {
            width:20px;
            height:20px;
            cursor: pointer;
            position: absolute;
            top:0;
            left:-10px;
            background: #fcfff4;
            border-radius: 4px;
            &:after {
                content:'';
                width:9px;
                height:5px;
                position: absolute;
                top:4px;
                left:4px;
                border:3px solid #333;
                border-top:none;
                border-right:none;
                background: transparent;
                opacity: 0;
                transform: rotate(-45deg);
            }
            &:hover::after {
                opacity: 0.5;
            }
    }
    input[type=checkbox]{
        visibility: hidden;
        &:checked + label:after {
            opacity: 1;
        }
    }
}
@mixin categories {
    .categories{
       @include alignContent;
       @include cusChkbox;
       height:225px;
       ul{
        padding-left:10px;
        li {
            position: relative;
            list-style-type: none;
           }
       }
    }
}
.left-menu {
    @include location;
    @include dateBlock;
    @include categories;
}

//-----------------------
@mixin tag {
  display: inline-block;
  border:1px solid #9013FE ;
  border-radius:25px;
  padding: 0.3rem 1rem;
  font-size: 0.75rem;
}
@mixin searchFilter {
    .search-filter{
        div {
            @include tag;
        }
        div + div{
            margin-left:10px;
        }
        .clicked {
            background: #9013FE;
            color:#fff;
        }
    }
}
@mixin content{
    .content {
        margin-top:10px;
        ul {
            li {
              display: block;
              list-style-type: none;
              margin-top:10px;
              height:220px;
              box-shadow:2px 2px 4px rgba(0, 0, 0, .2);
              img{
                  display: inline-block;
                  vertical-align: top;
              }
              div {
                  position: relative;
                  padding-left:14px;
                  display: inline-block;
              }
              &:hover {
                  box-shadow:2px 2px 5px;
              }
            }
        }
        .detail {
            position: relative;
            vertical-align: top;
            height:220px;
            .local {
                position: absolute;
                bottom:10px;
                left:6px;
                width:400px;
                div {
                    @include tag;
                    margin-left:10px;
                }
                span ~ span {
                    margin-left:10px;
                    margin-right:10px;
                }
            }
        }
    }
}
.right-content {
   padding-top:20px;
   @include searchFilter;
   @include content;
}