@mixin tag {
    display: inline-block;
    border:1px solid #9013FE ;
    border-radius:25px;
    padding: 0.3rem 1rem;
    font-size: 0.75rem;
  }
  @mixin searchFilter {
      .search-filter{
          div {
              @include tag;
          }
          div + div{
              margin-left:10px;
          }
          .clicked {
              background: #9013FE;
              color:#fff;
          }
      }
  }
  @mixin content{
      .content {
          margin-top:10px;
          ul {
              li {
                display: block;
                list-style-type: none;
                margin-top:10px;
                height:220px;
                box-shadow:2px 2px 4px rgba(0, 0, 0, .2);
                img{
                    display: inline-block;
                    vertical-align: top;
                }
                div {
                    position: relative;
                    padding-left:14px;
                    display: inline-block;
                }
                &:hover {
                    box-shadow:2px 2px 5px;
                }
              }
          }
          .detail {
              position: relative;
              vertical-align: top;
              height:220px;
              .local {
                  position: absolute;
                  bottom:10px;
                  left:6px;
                  width:400px;
                  div {
                      @include tag;
                      margin-left:10px;
                  }
                  span ~ span {
                      margin-left:10px;
                      margin-right:10px;
                  }
              }
          }
      }
  }
  .right-content {
     padding-top:20px;
     @include searchFilter;
     @include content;
  }